.ic{
    border: 1rem solid white ;
    text-align: center;
    border-radius: 5%;
    background-color: white;
    width: 250px;
    height: 400px;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 50px;
}
h3{
    margin-top: 50px;
    text-align: center;
}
p{
    font-size: 15px;
    text-align: center;
}
.imt{
    display: flex;
    justify-content: center;
}
.im{
    border-radius: 5%;
    height: 200px;
    width: 200px;
    margin-top: 10px;
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(max-width:375px){
    .ic{
        margin-left: 50px;
    }
}